.archive {
  &__body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  &__article {
    position: relative;
    grid-column: 4 span;
    padding: 30px 30px 80px 30px;
    border-bottom: 1px solid black;
    text-align: center;
    transition: background-color 0.2s ease;
    @include hover {
      background-color: var(--main);
    }
    &:last-child {
      border-bottom: none;
    }

    @include laptop-middle {
      grid-column: 6 span;
    }
    @include tablet {
      padding: 16px 16px 40px 16px;
    }
    @include tablet-min {
      grid-column: 12 span;
      border-right: none;
    }

    @media (min-width: 576px) {
      &:not(:nth-child(2n + 2)) {
        border-right: 1px solid black;
      }
      @include last(2) {
        border-bottom: none;
      }
    }
    @media (min-width: 1111px) {
      &:not(:nth-child(3n + 3)) {
        border-right: 1px solid black;
      }
      @include last(3) {
        border-bottom: none;
      }
    }
  }
  &__article-link {
    position: absolute;
    inset: 0;
  }
  &__article-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 45px;
    @include tablet {
      margin-bottom: 24px;
    }
  }
  &__article-middle {
    @include flex-center;
    gap: 6px;
    color: var(--shaft);
    margin-bottom: 24px;

    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    @include tablet {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.72px;
      margin-bottom: 16px;
    }
  }
  &__article-point {
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }
  &__article-title {
    max-width: 420px;
    margin: 0 auto;
  }
}
