.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 950px;
  margin-top: 30px;
  z-index: 1;
  border-bottom: none !important;
  @media (max-width: 1490px) {
    min-height: 690px;
  }
  @include laptop-min {
    margin-top: 0;
  }
  @include tablet {
    min-height: 585px;
  }
  &__container {
    @include laptop-min {
      padding: 0 !important;
    }
  }
  &__img {
    position: absolute;
    width: calc(100vw - 60px);
    top: 0;
    left: 30px;
    height: calc(100% - 64px);
    object-fit: cover;
    z-index: -1;
    @include laptop-min {
      width: 100%;
      left: 0;
    }
  }
  &__title {
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    color: var(--flurry);
    max-width: 390px;
    margin: 0px auto 50px auto;
    text-align: center;
    @include tablet {
      font-size: 24px;
      line-height: 26px;
      max-width: 265px;
      margin-bottom: 35px;
    }
  }
  &__btn {
    border-radius: 0px 0px 2px 2px;
    min-height: 64px;
    width: 100%;
  }
}
