.intro-simple {
  padding: 100px 0px;
  @include tablet {
    padding: 50px 0px 60px 0px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 86px;
    font-weight: 300;
    line-height: 80px;
    text-align: center;
    margin: 0;

    @include laptop-middle {
      font-size: 54px;
      line-height: 60px;
    }
    @include tablet {
      font-size: 38px;
      line-height: 40px;
    }
  }
  &__btn {
    margin-top: 60px;
    @include tablet {
      margin-top: 40px;
    }
  }
  &__content {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin: 45px 0px 0px 0px;
    @include tablet {
      margin-top: 30px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
