.sect-img {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  &__container {
    display: flex;
  }
  &__img {
    width: 50%;
    height: 960px;
    object-fit: cover;
    @include laptop-min {
      width: 500px;
      height: 500px;
      margin-top: 40px;
    }
    @include tablet-min {
      width: 400px;
      height: 400px;
    }
    @include mobile {
      width: 345px;
      height: 345px;
    }
  }
  &__info {
    @include flex-center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    width: 50%;
    @include laptop-min {
      padding: 100px 30px;
      width: 100%;
    }
    @include tablet {
      padding: 80px 16px;
    }

    &._no-bottom {
      padding-bottom: 0;
    }

    &._no-offset-x {
      padding-left: 0;
      padding-right: 0;
    }

    &._flex-end {
      justify-content: flex-end;
    }
  }
  &__title {
    max-width: 680px;
    margin: 0px 0px 30px 0px;
    @include tablet {
      margin-bottom: 20px;
    }

    &._no-margin {
      margin: 0;
    }
  }
  &__content {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    margin: 0;
  }
  &__buttons {
    @include flex-center;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    margin: 160px 0px 60px 0px;
    @include laptop-min {
      margin-top: 40px;
    }
    @include tablet {
      gap: 8px;
      margin-bottom: 30px;
    }
  }
  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    flex: 0 1 110px;

    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.72px;
    text-transform: uppercase;

    @include tablet {
      font-size: 11px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.44px;
      gap: 8px;
      flex-basis: 100px;
    }

    &._active {
      .sect-img__btn-gallery {
        border-color: black;
      }
    }
  }
  &__btn-number {
    font-size: 12px;
  }
  &__btn-gallery {
    @include flex-center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    @include tablet {
      width: 70px;
      height: 70px;
    }
  }
  &__btn-icon {
    border-radius: 50%;
    object-fit: cover;
    width: 80px;
    height: 80px;
    @include tablet {
      width: 56px;
      height: 56px;
    }
  }
  &__tab-content {
    margin: 0 auto;
    max-width: 680px;
    font-size: 16px;
    line-height: 22px;
    color: var(--shaft);
  }
  &__btn-bottom {
    margin-top: 60px;
    width: fit-content;
    @include laptop-min {
      margin-top: 40px;
    }
  }
  &__list {
    text-align: start;
    width: 100%;
    margin-top: 380px;
    @include desktop {
      margin-top: 200px;
    }
    @include laptop-min {
      margin-top: 40px;
    }
  }
  &__list-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    border-top: 1px solid black;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.96px;
    text-transform: uppercase;

    @include laptop {
      padding: 20px;
    }

    @include tablet {
      padding: 20px 16px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.84px;
    }

    .number {
      flex-shrink: 0;
      font-size: 10px;
      width: 16px;
      height: 16px;
    }
  }
}
