<section class="article">
  <div class="container">
    <div>
      <h3>
        Свадебный маникюр совершенно особая деталь, отличная и от повседневного,
        и даже от праздничного и выходного маникюра.
      </h3>
      <p>
        Чтобы создать невинный, чистый и светлый образ невесты, придется
        соблюдать определенные каноны. И первый, и самый главный из них это
        общность деталей. То есть все, начиная со свадебного платья и прически,
        заканчивая макияжем и дизайном ногтей, все должно гармонично сочетаться
        между собой и работать на один конечный образ. И экстравагантные,
        слишком яркие и выбивающиеся детали, только испортят общее впечатление.
        <br />
        <br />
        Поэтому слишком объемные, цветастые детали, яркие конструкции, что
        излишне акцентируют внимание на руках, для такого маникюра не применимы.
        Конечно, несколько отдельно в этом случае стоят неклассические торжества
        и наряды, когда платье не белое, а скажем красное или черное. Но даже в
        таких случаях описанные рекомендации будут сохраняться, изменится лишь
        цветовой акцент. Наиболее выигрышным вариантом при классической свадьбе
        можно назвать простой и элегантный френч и его разновидности.
        <br />
        <br />
        Это может быть и чистая белая классика на «линии улыбки», и что-нибудь
        более яркое, цветное. Чтобы придать французскому маникюру более
        праздничный вид, можно дополнить его стразами или аккуратным узором. Тон
        же самого ногтя стоит выбрать натуральный или светлый цвет. Несмотря на
        то, что простой и аккуратный дизайн по сути можно сделать дома, мастера
        салона на «На Клавишах» советуют обратиться к профессионалам. Свадьба,
        слишком важное событие, чтобы омрачать его даже такой мелочью как
        маленький скол лака. А потому лучше сделать его в профессиональном
        салоне.
      </p>
      <h4>Классика — френч со стразами</h4>
      <p>
        Линию улыбки можно подчеркнуть различными способами, современные
        средства дают в этом плане большой простор для фантазии. Можно выложить
        и лаконичную, аккуратную дугу, создать острый угол, провести тонкую,
        изящную полоску или оригинальные наклонные рисунки — ограничений по сути
        нет, только ваш вкус и предпочтения. Единственная важная деталь тут в
        том, что более острые углы и четкие линии смотрятся строже, а плавные
        изгибы напротив придадут женственности.
      </p>
    </div>
    <div class="article__gallery">
      <img src="@img/article.jpg" alt="img" class="article__gallery-img" />
      <img src="@img/article.jpg" alt="img" class="article__gallery-img" />
      <img src="@img/article.jpg" alt="img" class="article__gallery-img" />
    </div>
    <div>
      <h4>Верный выбор — омбре</h4>
      <p>
        Этот свадебный маникюр поможет невесте подчеркнуть нежность элегантность
        образа. Омбре представляет собой плавный переход цвета и оттенка, он
        чем-то похож на френч, но в отличие от него имеют более мягкую, плавно
        перетекающую в другой цвет «линию улыбки». Для создания омбре
        используются лаки и покрытия одной текстуры, к примеру, белый и
        телесный, розовый и другие подобные сочетания. Чтобы придать
        дополнительную изюминку можно добавить страз и легкий, ненавязчивый
        узор.
      </p>
      <h4>Узоры и завитки</h4>
      <p>
        Этот свадебный маникюр поможет невесте подчеркнуть нежность элегантность
        образа. Омбре представляет собой плавный переход цвета и оттенка, он
        чем-то похож на френч, но в отличие от него имеют более мягкую, плавно
        перетекающую в другой цвет «линию улыбки». Для создания омбре
        используются лаки и покрытия одной текстуры, к примеру, белый и
        телесный, розовый и другие подобные сочетания. Чтобы придать
        дополнительную изюминку можно добавить страз и легкий, ненавязчивый
        узор. Узоры и завитки Легкий и изящные узоры, один из популярных трендов
        в свадебном дизайне. Часто выполняются в комбинации с другими видами
        свадебного маникюра, когда рисунок размещают на одном или нескольких
        ногтях (сегодня в моде принцип асимметричности изображений) При
        соблюдении принципов умеренности такая деталь станет эффектной
        изюминкой, и лишь подчеркнет общий стиль.
      </p>
      <h4>Наиболее распространены узоры следующих типов</h4>
      <ul>
        <li>
          Слайдеры. Это самый простой и быстрый в исполнении вариант. Рисунок в
          данном случае нанесен на прозрачную или цветную основу, которую мастер
          приклеивает к ногтю.
        </li>
        <li>
          Стемпинг. Это уже полноценный рисунок, но сделанный из готового уже
          образца. Вы можете выбрать уже готовый узор из обширного каталога.
        </li>
        <li>
          Художественная роспись кистью. Выполняется квалифицированным мастером,
          имеющим большой опыт в создании уникальных, неповторимых узоров для
          свадеб и торжеств. Тут вы сможете воплотить любую фантазию, и создать
          узор максимально гармонирующий с общим образом. Их можно выполнить в
          комбинации с тем же омбре.
        </li>
      </ul>
      <h4>Яркий, сочный и сияющий маникюр</h4>
      <p>
        Если вы любите яркие краски и цвета, подбирать цвет и тон маникюра нужно
        под помаду, тени, свадебный букет. Важным нюансом тут будет расписание
        свадьбы, и общее количество мероприятий. Танцы, фотосессия,
        поздравления, праздничный стол все это приведет к тому, что даже самая
        стойкая помада утратит свою яркость, и подправить ее вы сможете не
        всегда. Поэтому чтобы маникюр потом не смотрелся ярким, но выбивающимся
        из общего ряда пятном, стоит сделать его немного более мягким по тону,
        или же оформить цветом не весь ноготь, а лишь его часть. Уважаемые
        читатели нашего блога! Салон маникюра и педикюра «На Клавишах» является
        официальным партнером свадебного агентства — «Екатерины Шатовой»,
        поэтому если у вас в ближайшее время будет стоять выбор, в какое
        свадебное агентство обратиться, то советуем именно их!
      </p>
    </div>
    <div class="article__nav">
      <a href="#" class="btn-main">
        <svg class="btn-main__icon _reverse">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
        <span>Назад</span>
      </a>
    </div>
  </div>
</section>
