<section class="atmosphere">
  <div class="container atmosphere__container tab-container">
    <div class="atmosphere__main">
      <span class="tag">О нашей студии</span>
      <h2 class="title title-3 atmosphere__title">
        Мы создали атмосферу, в которой каждая гостья может не только
        преобразиться, но и насладиться отдыхом
      </h2>
      <div class="atmosphere__buttons">
        <button data-tab-btn="at-1" class="btn-clear atmosphere__btn _active">
          <div class="atmosphere__btn-gallery">
            <img
              src="@img/atmosphere-btn.jpg"
              alt="icon"
              class="atmosphere__btn-icon"
            />
          </div>
          <span>лаундж-зона</span>
        </button>
        <button data-tab-btn="at-2" class="btn-clear atmosphere__btn">
          <div class="atmosphere__btn-gallery">
            <img
              src="@img/atmosphere-btn.jpg"
              alt="icon"
              class="atmosphere__btn-icon"
            />
          </div>
          <span>лаундж-зона</span>
        </button>
        <button data-tab-btn="at-3" class="btn-clear atmosphere__btn">
          <div class="atmosphere__btn-gallery">
            <img
              src="@img/atmosphere-btn.jpg"
              alt="icon"
              class="atmosphere__btn-icon"
            />
          </div>
          <span>лаундж-зона</span>
        </button>
      </div>
      <div data-tab="at-1" class="_open">
        <p class="atmosphere__tab-content">
          В нашем баре вы найдете всё для вашего удовольствия: от ароматного
          кофе и чая до освежающих фрешей, авторских коктейлей 18+ и нежных
          молочных коктейлей. А для ценителей сладкого – наши фирменные сырники!
          Все напитки – комплемент от нашего салона.
        </p>
        <a href="#" class="btn-main atmosphere__tab-btn">
          <span>Меню напитков</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
      <div data-tab="at-2">
        <p class="atmosphere__tab-content">
          22222В нашем баре вы найдете всё для вашего удовольствия: от
          ароматного кофе и чая до освежающих фрешей, авторских коктейлей 18+ и
          нежных молочных коктейлей. А для ценителей сладкого – наши фирменные
          сырники! Все напитки – комплемент от нашего салона.
        </p>
        <a href="#" class="btn-main atmosphere__tab-btn">
          <span>Меню напитков</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
      <div data-tab="at-3">
        <p class="atmosphere__tab-content">
          3333333В нашем баре вы найдете всё для вашего удовольствия: от
          ароматного кофе и чая до освежающих фрешей, авторских коктейлей 18+ и
          нежных молочных коктейлей. А для ценителей сладкого – наши фирменные
          сырники! Все напитки – комплемент от нашего салона.
        </p>
        <a href="#" class="btn-main atmosphere__tab-btn">
          <span>Меню напитков</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <div data-da=".atmosphere__main,1024,2" class="atmosphere__gallery">
      <img src="@img/atmosphere.jpg" alt="image" class="atmosphere__img" />
    </div>
  </div>
</section>
