<section class="contact">
  <div class="container">
    <div class="contact__head">
      <span class="tag">Оставьте заявку</span>
      <h2 class="title title-2 contact__title">
        Возникли вопросы, есть идеи и предложения?
      </h2>
      <p class="contact__content">
        Смело пишите нам, мы ответим вам в течение рабочего дня
      </p>
    </div>
    <form action="#" class="contact__form">
      <div class="contact__form-wrapper">
        <div class="contact__form-item">
          <input
            type="text"
            placeholder="Ваше имя"
            class="contact__form-input"
          />
        </div>
        <div class="contact__form-item">
          <input
            type="tel"
            placeholder="Номер телефона"
            class="contact__form-input"
          />
        </div>
        <div class="contact__form-item">
          <input
            type="text"
            placeholder="Текст сообщения"
            class="contact__form-input"
          />
        </div>
      </div>
      <p class="contact__form-policy">
        Нажимая на кнопку «Отправить» я даю согласие на
        <a href="#">обработку персональных данных</a>
      </p>
      <button class="btn-main">
        <span>Отправить</span>
        <svg class="btn-main__icon">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
    </form>
  </div>
</section>
