<section class="simple">
  <div class="container simple__container tab-container _stretch">
    <div class="simple__main discount__main-one">
      <span class="tag">Акция</span>
      <h2 class="title title-3 simple__title _no-margin">
        Уходовые средства HERMPZ для ваших ручек всего за 3 500₽
      </h2>
      <p class="simple__content">
        Ногтевая студия «На клавишах» предлагаем своим клиентам, новую акцию!
      </p>
    </div>
    <div data-da=".discount__main-one,1024,2" class="simple__gallery">
      <img src="@img/discount.jpg" alt="image" class="simple__img _min" />
    </div>
  </div>
</section>
