<section class="sect-img">
  <div class="sect-img__container">
    <img
      data-da=".gifts-img__info,1024,2"
      src="@img/gifts-2.jpg"
      alt="image"
      class="sect-img__img _middle"
    />
    <div
      class="sect-img__info gifts-img__info"
    >
      <span class="tag">Подарочный сертификат</span>
      <h2 class="title title-3 sect-img__title _discount-marign">
        Ногтевая студия «На клавишах» рада предложить всем своим клиентам
        подарочные сертификаты с номиналом: 1 000₽ / 1 500₽ / 2 000₽ / 3 000₽ /
        5 000₽
      </h2>
      <p class="sect-img__content-main">
        Для заказа сертификата, позвоните по номеру: <a href="tel:+79186760074">+7 (918) 676-00-74</a>
      </p>
    </div>
  </div>
</section>
