<section class="simple">
  <div class="container simple__container tab-container">
    <div data-da=".gifts__main,1024,2" class="simple__gallery">
      <img data-tab-img alt="image" class="simple__img" />
    </div>
    <div class="simple__main gifts__main">
      <span class="tag">Подарочные сертификаты</span>
      <h2 class="title title-3 simple__title">
        Лучший подарок-это впечатления, а наши подарочные сертификаты
        гарантировано дарят эмоции
      </h2>
      <div class="simple__buttons">
        <button
          data-tab-btn="at-1"
          data-img="@img/gift.jpg"
          class="btn-clear simple__btn _active"
        >
        <!-- <span class="number">1</span> -->
          <div class="simple__btn-gallery">
            <img
              src="@img/atmosphere-btn.jpg"
              alt="icon"
              class="simple__btn-icon"
            />
          </div>
          <span>Электронный сертификат</span>
        </button>
        <button
          data-tab-btn="at-2"
          data-img="@img/purity.jpg"
          class="btn-clear simple__btn"
        >
        <!-- <span class="number">2</span> -->
          <div class="simple__btn-gallery">
            <img
              src="@img/atmosphere-btn.jpg"
              alt="icon"
              class="simple__btn-icon"
            />
          </div>
          <span>БУМАЖНЫЙ сертификат</span>
        </button>
      </div>
      <div data-tab="at-1" class="_open">
        <p class="simple__tab-content">
          Хотите сделать сюрприз близкому человеку, даже если вы далеко? Мы
          отправим ваше теплое послание и электронный подарочный сертификат в
          нужное время, где бы вы не находились.
        </p>
        <button data-modal-btn="electric-certificate" class="btn-main simple__tab-btn">
          <span>Оставить заявку</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <div data-tab="at-2">
        <p class="simple__tab-content">
          22222В нашем баре вы найдете всё для вашего удовольствия: от
          ароматного кофе и чая до освежающих фрешей, авторских коктейлей 18+ и
          нежных молочных коктейлей. А для ценителей сладкого – наши фирменные
          сырники! Все напитки – комплемент от нашего салона.
        </p>
        <button data-modal-btn="paper-certificate" class="btn-main simple__tab-btn">
          <span>Оставить заявку</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
