<section class="intro-simple">
  <div class="container intro-simple__container">
    <div class="breadcrumbs">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="/" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb">
          Контакты
        </span>
      </div>
    </div>
    <h1 class="title intro-simple__title">Контакты </h1>
    <button class="btn-main intro-simple__btn">
      <span>Записаться</span>
      <svg class="btn-main__icon">
        <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
      </svg>
    </button>
  </div>
</section>