<section class="intro-single">
  <div class="intro-single__container">
    <ul class="list breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="/">Услуги</a></li>
      <li><a href="/">Маникюр и педикюр в 4 руки</a></li>
      <li>Покрытие</li>
    </ul>
    <h1 class="title title-1 intro-single__title _no-offset">Покрытие гель лак Polacco</h1>
    <ul class="list intro-single__list">
      <li class="intro-single__list-item">
        <span class="intro-single__item-title">цена</span>
        <span class="title intro-single__item-value">4 100 ₽</span>
      </li>
      <li class="intro-single__list-item">
        <span class="intro-single__item-title">Время</span>
        <span class="title intro-single__item-value">1,5 часа</span>
      </li>
    </ul>
    <p class="intro-single__content">
      Гель-лак немецкого бренда Polacco пользуется популярностью вполне
      заслуженно: носится долго, выглядит стильно, на выбор столько оттенков,
      что глаза разбегаются даже у самых взыскательных модниц. Главное правильно
      нанести покрытие.
    </p>
    <button class="btn-main intro-single__btn">
      <span>Записаться</span>
      <svg class="btn-main__icon">
        <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
  <img src="@img/subsingle.jpg" alt="image" class="intro-single__img" />
</section>
