<section class="intro-single">
  <div class="intro-single__container">
    <div class="breadcrumbs">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="/" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb"> Отзывы </span>
      </div>
    </div>
    <h1 class="title title-1 intro-single__title">Отзывы</h1>
    <p class="intro-single__content">
      Будем рады, если вы выскажетесь о своих впечатлениях от посещения наших
      салонов-студий маникюра и педикюра в Краснодаре
    </p>
    <a href="#reviews-add" data-anchor class="btn-main intro-single__btn">
      <span>Написать отзыв</span>
      <svg class="btn-main__icon">
        <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
      </svg>
    </a>
  </div>
  <img src="@img/reviews.jpg" alt="image" class="intro-single__img" />
</section>
