<section class="jobs">
  <div class="jobs__item">
    <div class="jobs__gallery">
      <img src="@img/jobs.jpg" alt="image" class="jobs__img" />
    </div>
    <div class="jobs__main">
      <div class="jobs__head">
        <h3 class="title title-3 jobs__title">Мастер маникюра и педикюра</h3>
        <span class="title jobs__price">от 90 000 ₽</span>
      </div>
      <p class="jobs__item-content">
        В сеть студий маникюра и педикюра «НА КЛАВИШАХ» объявлен набор на
        позицию мастера маникюра/педикюра. Если Вы хотите хорошо зарабатывать,
        расти и развиваться, то Вам к нам!
      </p>
      <div class="jobs__content-wrapper">
        <h3>Требования</h3>
        <ul>
          <li>Чистый маникюр</li>
          <li>Аккуратное покрытие</li>
          <li>Приветствуются художественные навыки</li>
          <li>Идеально, если вы владеете техниками наращивания.</li>
        </ul>
        <h3>Условия</h3>
        <ul>
          <li>Высокая з.п.</li>
          <li>50/50</li>
          <li>График работы оговаривается индивидуально</li>
          <li>Работаем только на качественных, одноразовых материалах.</li>
        </ul>
      </div>
      <div class="jobs__nav">
        <a href="#resume" data-anchor class="btn-main">
          <span>Оставить резюме</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <div class="jobs__social">
          <div>
            <span class="jobs__social-title">Присылайте портфолио работ</span>
            <p class="jobs__social-content">
              WhatsApp <a href="tel:+79186760074">+7 (918) 676-00-74</a>
            </p>
          </div>
          <div class="jobs__social-circle">
            <svg class="jobs__social-icon">
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jobs__item">
    <div class="jobs__gallery">
      <img src="@img/jobs.jpg" alt="image" class="jobs__img" />
    </div>
    <div class="jobs__main">
      <div class="jobs__head">
        <h3 class="title title-3 jobs__title">Мастер маникюра и педикюра</h3>
        <span class="title jobs__price">от 90 000 ₽</span>
      </div>
      <p class="jobs__item-content">
        В сеть студий маникюра и педикюра «НА КЛАВИШАХ» объявлен набор на
        позицию мастера маникюра/педикюра. Если Вы хотите хорошо зарабатывать,
        расти и развиваться, то Вам к нам!
      </p>
      <div class="jobs__content-wrapper">
        <h3>Требования</h3>
        <ul>
          <li>Чистый маникюр</li>
          <li>Аккуратное покрытие</li>
          <li>Приветствуются художественные навыки</li>
          <li>Идеально, если вы владеете техниками наращивания.</li>
        </ul>
        <h3>Условия</h3>
        <ul>
          <li>Высокая з.п.</li>
          <li>50/50</li>
          <li>График работы оговаривается индивидуально</li>
          <li>Работаем только на качественных, одноразовых материалах.</li>
        </ul>
      </div>
      <div class="jobs__nav">
        <a href="#resume" data-anchor class="btn-main">
          <span>Оставить резюме</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <div class="jobs__social">
          <div>
            <span class="jobs__social-title">Присылайте портфолио работ</span>
            <p class="jobs__social-content">
              WhatsApp <a href="tel:+79186760074">+7 (918) 676-00-74</a>
            </p>
          </div>
          <div class="jobs__social-circle">
            <svg class="jobs__social-icon">
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
