<section class="maps tab-container">
  <div class="head-nav">
    <button data-tab-btn="m-1" class="btn-clear head-nav__btn _active">
      ул. Коммунаров, 268
    </button>
    <button data-tab-btn="m-2" class="btn-clear head-nav__btn">
      ул. Тургенева, 138/7
    </button>
    <button data-tab-btn="m-3" class="btn-clear head-nav__btn">
      ул. Кубанская набережная, 64
    </button>
    <button data-tab-btn="m-4" class="btn-clear head-nav__btn">
      ул. Уральская 71 лит 1
    </button>
  </div>
  <div data-tab="m-1" class="_open">
    <div class="maps__wrapper">
      <div class="maps__main">
        <h2 class="title title-2 maps__title">ул. Коммунаров, 268</h2>
        <ul class="list maps__list">
          <li>
            <span>Режим работы:</span>
            <span>Ежедневно с 9:00 до 21:00</span>
          </li>
          <li>
            <span>Единый телефон записи:</span>
            <a href="tel:+79186760074">+7 (918) 676‒00‒74</a>
          </li>
        </ul>
        <div
          data-center="[45.0485455746035,38.98325399999998]"
          data-zoom="16"
          class="maps__map"
        ></div>
        <div class="maps__content">
          <p>
            При посещении нашего салона-студии помимо основных услуг ты сможешь
            насладиться бесплатным свежим кофе и просмотром захватывающего
            фильма прямо во время процедур.
          </p>
          <p>
            Оставить запись в эту и другие наши студии всегда можно по общему
            номеру телефона или оставив заявку через форму обратной связи.
          </p>
        </div>
        <button class="btn-main maps__btn">
          <span>Записаться</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="maps__wrapper-slider">
        <div class="swiper maps__slider">
          <div class="swiper-wrapper">
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
          </div>
        </div>
        <div class="maps__slider-nav">
          <div class="slider-btn _prev">
            <svg class="slider-btn__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
          <div class="slider-btn _next">
            <svg class="slider-btn__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-tab="m-2">
    <div class="maps__wrapper">
      <div class="maps__main">
        <h2 class="title title-2 maps__title">ул. Тургенева, 138/7</h2>
        <ul class="list maps__list">
          <li>
            <span>Режим работы:</span>
            <span>Ежедневно с 9:00 до 21:00</span>
          </li>
          <li>
            <span>Единый телефон записи:</span>
            <a href="tel:+79186760074">+7 (918) 676‒00‒74</a>
          </li>
        </ul>
        <div
          data-center="[45.0485455746035,38.98325399999998]"
          data-zoom="16"
          class="maps__map"
        ></div>
        <div class="maps__content">
          <p>
            При посещении нашего салона-студии помимо основных услуг ты сможешь
            насладиться бесплатным свежим кофе и просмотром захватывающего
            фильма прямо во время процедур.
          </p>
          <p>
            Оставить запись в эту и другие наши студии всегда можно по общему
            номеру телефона или оставив заявку через форму обратной связи.
          </p>
        </div>
        <button class="btn-main maps__btn">
          <span>Записаться</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="maps__wrapper-slider">
        <div class="swiper maps__slider">
          <div class="swiper-wrapper">
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
          </div>
        </div>
        <div class="maps__slider-nav">
          <div class="slider-btn _prev">
            <svg class="slider-btn__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
          <div class="slider-btn _next">
            <svg class="slider-btn__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-tab="m-3">
    <div class="maps__wrapper">
      <div class="maps__main">
        <h2 class="title title-2 maps__title">ул. Кубанская набережная, 64</h2>
        <ul class="list maps__list">
          <li>
            <span>Режим работы:</span>
            <span>Ежедневно с 9:00 до 21:00</span>
          </li>
          <li>
            <span>Единый телефон записи:</span>
            <a href="tel:+79186760074">+7 (918) 676‒00‒74</a>
          </li>
        </ul>
        <div
          data-center="[45.0485455746035,38.98325399999998]"
          data-zoom="16"
          class="maps__map"
        ></div>
        <div class="maps__content">
          <p>
            При посещении нашего салона-студии помимо основных услуг ты сможешь
            насладиться бесплатным свежим кофе и просмотром захватывающего
            фильма прямо во время процедур.
          </p>
          <p>
            Оставить запись в эту и другие наши студии всегда можно по общему
            номеру телефона или оставив заявку через форму обратной связи.
          </p>
        </div>
        <button class="btn-main maps__btn">
          <span>Записаться</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="maps__wrapper-slider">
        <div class="swiper maps__slider">
          <div class="swiper-wrapper">
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
          </div>
        </div>
        <div class="maps__slider-nav">
          <div class="slider-btn _prev">
            <svg class="slider-btn__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
          <div class="slider-btn _next">
            <svg class="slider-btn__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-tab="m-4">
    <div class="maps__wrapper">
      <div class="maps__main">
        <h2 class="title title-2 maps__title">ул. Уральская 71 лит 1</h2>
        <ul class="list maps__list">
          <li>
            <span>Режим работы:</span>
            <span>Ежедневно с 9:00 до 21:00</span>
          </li>
          <li>
            <span>Единый телефон записи:</span>
            <a href="tel:+79186760074">+7 (918) 676‒00‒74</a>
          </li>
        </ul>
        <div
          data-center="[45.0485455746035,38.98325399999998]"
          data-zoom="16"
          class="maps__map"
        ></div>
        <div class="maps__content">
          <p>
            При посещении нашего салона-студии помимо основных услуг ты сможешь
            насладиться бесплатным свежим кофе и просмотром захватывающего
            фильма прямо во время процедур.
          </p>
          <p>
            Оставить запись в эту и другие наши студии всегда можно по общему
            номеру телефона или оставив заявку через форму обратной связи.
          </p>
        </div>
        <button class="btn-main maps__btn">
          <span>Записаться</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="maps__wrapper-slider">
        <div class="swiper maps__slider">
          <div class="swiper-wrapper">
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
            <a
              href="@img/atmosphere.jpg"
              data-fancybox="maps"
              class="swiper-slide"
            >
              <img
                src="@img/atmosphere.jpg"
                alt="image"
                class="maps__slider-img"
              />
            </a>
          </div>
        </div>
        <div class="maps__slider-nav">
          <div class="slider-btn _prev">
            <svg class="slider-btn__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
          <div class="slider-btn _next">
            <svg class="slider-btn__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
