<section class="menu">
  <aside class="menu__sidebar">
    <h2 class="title title-2 menu__title">Меню</h2>
    <ul class="list menu__list">
      <li><a href="#" class="_active">Горячие напитки </a></li>
      <li><a href="#">Молочные коктейли </a></li>
      <li><a href="#">Авторские коктейли 18+</a></li>
      <li><a href="#">Завтрак </a></li>
    </ul>
  </aside>
  <div class="menu__catalog">
    <div class="menu__catalog-wrapper">
      <article class="menu__catalog-item">
        <img src="@img/menu.jpg" alt="image" class="menu__item-img" />
        <h4 class="title title-4 menu__item-title">Чай черный</h4>
      </article>
      <article class="menu__catalog-item">
        <img src="@img/menu-2.jpg" alt="image" class="menu__item-img" />
        <h4 class="title title-4 menu__item-title">Чай черный</h4>
      </article>
      <article class="menu__catalog-item">
        <img src="@img/menu-3.jpg" alt="image" class="menu__item-img" />
        <h4 class="title title-4 menu__item-title">Чай черный</h4>
      </article>
      <article class="menu__catalog-item">
        <img src="@img/menu-4.jpg" alt="image" class="menu__item-img" />
        <h4 class="title title-4 menu__item-title">Чай черный с горячими бутербродами</h4>
      </article>
      <article class="menu__catalog-item">
        <img src="@img/menu-5.jpg" alt="image" class="menu__item-img" />
        <h4 class="title title-4 menu__item-title">Чай черный</h4>
      </article>
      <article class="menu__catalog-item">
        <img src="@img/menu-6.jpg" alt="image" class="menu__item-img" />
        <h4 class="title title-4 menu__item-title">Чай черный</h4>
      </article>
      <article class="menu__catalog-item">
        <img src="@img/menu.jpg" alt="image" class="menu__item-img" />
        <h4 class="title title-4 menu__item-title">Чай черный</h4>
      </article>
      <article class="menu__catalog-item">
        <img src="@img/menu.jpg" alt="image" class="menu__item-img" />
        <h4 class="title title-4 menu__item-title">Чай черный</h4>
      </article>
      <article class="menu__catalog-item">
        <img src="@img/menu.jpg" alt="image" class="menu__item-img" />
        <h4 class="title title-4 menu__item-title">Чай черный</h4>
      </article>
      <article class="menu__catalog-item">
        <img src="@img/menu.jpg" alt="image" class="menu__item-img" />
        <h4 class="title title-4 menu__item-title">Чай черный</h4>
      </article>
      <article class="menu__catalog-item">
        <img src="@img/menu.jpg" alt="image" class="menu__item-img" />
        <h4 class="title title-4 menu__item-title">Чай черный</h4>
      </article>
      <article class="menu__catalog-item">
        <img src="@img/menu.jpg" alt="image" class="menu__item-img" />
        <h4 class="title title-4 menu__item-title">Чай черный</h4>
      </article>
    </div>
    <div class="menu__offer">
      <div class="menu__offer-info">
        <h3 class="title title-3 menu__offer-title">Сырники + горячий напиток</h3>
        <p class="menu__offer-content">Завтракайте вместе с нами с 9:00 до 10:30</p>
      </div>
      <div class="menu__offer-gallery">
        <img src="@img/offer-logo.svg" alt="logo" class="menu__offer-logo">
        <img src="@img/offer.jpg" alt="image" class="menu__offer-img">
      </div>
    </div>
  </div>
</section>
