<section class="our-works parent-more">
  <ul class="list our-works__head">
    <li>
      <a href="#" class="our-works__head-btn _active">Все работы</a>
    </li>
    <li>
      <a href="#" class="our-works__head-btn">Маникюр</a>
    </li>
    <li>
      <a href="#" class="our-works__head-btn">Педикюр</a>
    </li>
    <li>
      <a href="#" class="our-works__head-btn">Визажист</a>
    </li>
    <li>
      <a href="#" class="our-works__head-btn">Стилист</a>
    </li>
    <li>
      <a href="#" class="our-works__head-btn">Наращивание ресниц</a>
    </li>
    <li>
      <a href="#" class="our-works__head-btn">Детский маникюр</a>
    </li>
    <li>
      <a href="#" class="our-works__head-btn">Brow-стилист</a>
    </li>
  </ul>
  <div data-more="6" data-more-step="6" class="container our-works__container">
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>

    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
    <a href="@img/work.jpg" data-fancybox="works" class="our-works__item">
      <img src="@img/work.jpg" alt="image" class="our-works__img" />
    </a>
  </div>
  <button data-more-btn class="btn-main our-works__btn">показать еще</button>
</section>
