<section class="price tab-container">
  <div class="head-nav">
    <button data-tab-btn="price-1" class="btn-clear head-nav__btn _active">
      Маникюр и педикюр
    </button>
    <button data-tab-btn="price-2" class="btn-clear head-nav__btn">
      Покрытие и дизайн
    </button>
    <button data-tab-btn="price-3" class="btn-clear head-nav__btn">Уход</button>
  </div>
  <div data-tab="price-1" class="tab _open">
    <div class="price__wrapper">
      <article class="price__article">
        <img src="@img/price.jpg" alt="image" class="price__article-img" />
        <div class="price__article-content">
          <p>
            Предлагая исключительно профессиональный и стильный маникюр, мы
            заботимся о здоровье и красоте ваших ногтей. В работе мы применяем
            только опробованные, проверенные годами практики, средства и
            материалы мировых брендов.
          </p>
          <p>
            Все это позволяет нам добиться стойкого, долговечного результата при
            доступных ценах. Наши мастера смогут вернуть здоровье и натуральную
            красоту даже самым ослабленным, коротким и проблемным ногтям!
          </p>
        </div>
        <a href="#" class="btn-main price__article-btn">
          <span>Подробнее об услуге</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </article>
      <div class="price__info">
        <h3 class="title title-3 price__info-title">Маникюр и педикюр</h3>
        <ul class="list price__list">
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Парафинотерапия рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Пилинг рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">
                SPA-уход для рук (пилинг, массаж рук, парафинотерапия)
              </h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Парафинотерапия рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Пилинг рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">
                SPA-уход для рук (пилинг, массаж рук, парафинотерапия)
              </h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Парафинотерапия рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Пилинг рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div data-tab="price-2" class="tab">
    <div class="price__wrapper">
      <article class="price__article">
        <img src="@img/price.jpg" alt="image" class="price__article-img" />
        <div class="price__article-content">
          <p>
            Предлагая исключительно профессиональный и стильный маникюр, мы
            заботимся о здоровье и красоте ваших ногтей. В работе мы применяем
            только опробованные, проверенные годами практики, средства и
            материалы мировых брендов.
          </p>
          <p>
            Все это позволяет нам добиться стойкого, долговечного результата при
            доступных ценах. Наши мастера смогут вернуть здоровье и натуральную
            красоту даже самым ослабленным, коротким и проблемным ногтям!
          </p>
        </div>
        <a href="#" class="btn-main price__article-btn">
          <span>Подробнее об услуге</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </article>
      <div class="price__info">
        <h3 class="title title-3 price__info-title">Покрытие и дизайн</h3>
        <ul class="list price__list">
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Парафинотерапия рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Пилинг рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">
                SPA-уход для рук (пилинг, массаж рук, парафинотерапия)
              </h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Парафинотерапия рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Пилинг рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">
                SPA-уход для рук (пилинг, массаж рук, парафинотерапия)
              </h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Парафинотерапия рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Пилинг рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div data-tab="price-3" class="tab">
    <div class="price__wrapper">
      <article class="price__article">
        <img src="@img/price.jpg" alt="image" class="price__article-img" />
        <div class="price__article-content">
          <p>
            Предлагая исключительно профессиональный и стильный маникюр, мы
            заботимся о здоровье и красоте ваших ногтей. В работе мы применяем
            только опробованные, проверенные годами практики, средства и
            материалы мировых брендов.
          </p>
          <p>
            Все это позволяет нам добиться стойкого, долговечного результата при
            доступных ценах. Наши мастера смогут вернуть здоровье и натуральную
            красоту даже самым ослабленным, коротким и проблемным ногтям!
          </p>
        </div>
        <a href="#" class="btn-main price__article-btn">
          <span>Подробнее об услуге</span>
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </article>
      <div class="price__info">
        <h3 class="title title-3 price__info-title">Уход</h3>
        <ul class="list price__list">
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Парафинотерапия рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Пилинг рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">
                SPA-уход для рук (пилинг, массаж рук, парафинотерапия)
              </h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Парафинотерапия рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Пилинг рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">
                SPA-уход для рук (пилинг, массаж рук, парафинотерапия)
              </h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Парафинотерапия рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
            <p class="price__item-content">
              В стоимость услуги входит обработка рук спреем-лосьоном,
              скрабирование, нанесение крема тонким слоем на кисти рук, маска из
              холодного крем- парафина, массаж рук
            </p>
          </li>
          <li class="price__item">
            <div class="price__item-head">
              <h5 class="price__item-title">Пилинг рук</h5>
              <span class="title price__item-price">500 ₽</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
