<section class="purpose">
  <div class="container">
    <span class="tag purpose__tag">Преимущества</span>
    <h2 class="title title-2 purpose__title">
      Ваша красота - наша главная цель!
    </h2>
    <div class="purpose__body">
      <div class="purpose__circle">
        <div class="purpose__circle-wrapper">
          <div class="purpose__points">
            <div></div>
            <div></div>
          </div>
          <div class="purpose__points">
            <div></div>
            <div></div>
          </div>
          <div class="purpose__points">
            <div></div>
            <div></div>
          </div>
          <img src="@img/purpose.png" alt="image" class="purpose__circle-img" />
        </div>
      </div>
      <div class="purpose__row">
        <div class="purpose__item">
          <h6 class="purpose__item-title">Запись через интернет</h6>
          <p class="purpose__content">
            Вы можете записаться к нам on-line 24 часа в сутки
          </p>
        </div>
        <div class="purpose__item">
          <h6 class="purpose__item-title">Опытные мастера</h6>
          <p class="purpose__content">
            У нас работают профессионалы с опытом более 8 лет
          </p>
        </div>
      </div>
      <div class="purpose__row">
        <div class="purpose__item">
          <h6 class="purpose__item-title">Одноразовые материалы</h6>
          <p class="purpose__content">
            Одноразовый набор пилок и бафов мастер открывает в вашем присутствии
          </p>
        </div>
        <div class="purpose__item">
          <h6 class="purpose__item-title">разнообразие покрытий</h6>
          <p class="purpose__content">
            Более 500 видов покрытий лаков и гель-лаков
          </p>
        </div>
      </div>
      <div class="purpose__row">
        <div class="purpose__item">
          <h6 class="purpose__item-title">Гарантия 7 дней</h6>
          <p class="purpose__content">
            Исправим любую возникшую проблему за наш счет
          </p>
        </div>
        <div class="purpose__item">
          <h6 class="purpose__item-title">Экономия времени</h6>
          <p class="purpose__content">
            Возможность выбрать подходящие процедуры в 4 руки
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
