<section class="rec">
  <div class="rec__nav">
    <div class="container">
      <button class="slider-btn _prev">
        <svg class="slider-btn__icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <span class="tag">Другие статьи</span>
      <button class="slider-btn _next">
        <svg class="slider-btn__icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="swiper rec__slider">
    <div class="swiper-wrapper">
      <article class="swiper-slide rec__article">
        <a href="#" class="rec__article-link"></a>
        <img src="@img/archive.jpg" alt="image" class="rec__article-img" />
        <div class="rec__article-middle">
          <span class="rec__article-tag">Маникюр</span>
          <div class="rec__article-point"></div>
          <time datetime="2024-10-23" class="rec__article-date"
            >23.10.2024</time
          >
        </div>
        <h4 class="title title-4 rec__article-title">
          Свадебный маникюр - особенности и рекомендации
        </h4>
      </article>
      <article class="swiper-slide rec__article">
        <a href="#" class="rec__article-link"></a>
        <img src="@img/archive.jpg" alt="image" class="rec__article-img" />
        <div class="rec__article-middle">
          <span class="rec__article-tag">Маникюр</span>
          <div class="rec__article-point"></div>
          <time datetime="2024-10-23" class="rec__article-date"
            >23.10.2024</time
          >
        </div>
        <h4 class="title title-4 rec__article-title">
          Свадебный маникюр - особенности и рекомендации
        </h4>
      </article>
      <article class="swiper-slide rec__article">
        <a href="#" class="rec__article-link"></a>
        <img src="@img/archive.jpg" alt="image" class="rec__article-img" />
        <div class="rec__article-middle">
          <span class="rec__article-tag">Маникюр</span>
          <div class="rec__article-point"></div>
          <time datetime="2024-10-23" class="rec__article-date"
            >23.10.2024</time
          >
        </div>
        <h4 class="title title-4 rec__article-title">
          Свадебный маникюр - особенности и рекомендации
        </h4>
      </article>
      <article class="swiper-slide rec__article">
        <a href="#" class="rec__article-link"></a>
        <img src="@img/archive.jpg" alt="image" class="rec__article-img" />
        <div class="rec__article-middle">
          <span class="rec__article-tag">Маникюр</span>
          <div class="rec__article-point"></div>
          <time datetime="2024-10-23" class="rec__article-date"
            >23.10.2024</time
          >
        </div>
        <h4 class="title title-4 rec__article-title">
          Свадебный маникюр - особенности и рекомендации
        </h4>
      </article>
      <article class="swiper-slide rec__article">
        <a href="#" class="rec__article-link"></a>
        <img src="@img/archive.jpg" alt="image" class="rec__article-img" />
        <div class="rec__article-middle">
          <span class="rec__article-tag">Маникюр</span>
          <div class="rec__article-point"></div>
          <time datetime="2024-10-23" class="rec__article-date"
            >23.10.2024</time
          >
        </div>
        <h4 class="title title-4 rec__article-title">
          Свадебный маникюр - особенности и рекомендации
        </h4>
      </article>
    </div>
  </div>
</section>
