<section class="sect-img">
  <div class="sect-img__container _stretch">
    <div
      class="sect-img__info requisites__info _no-offset-x _no-bottom _flex-end"
    >
      <span class="tag">Информация</span>
      <h2 class="title title-3 sect-img__title _no-margin">
        Реквизиты компании
      </h2>
      <div data-spollers data-one-spoller class="sect-img__spollers">
        <div class="sect-img__spoller-item">
          <button data-spoller class="btn-clear sect-img__spoller-btn">
            <span>Юридическая информация</span>
            <svg class="sect-img__spoller-icon">
              <use xlink:href="img/icons/icons.svg#icon-plus"></use>
            </svg>
          </button>
          <ul class="list sect-img__list-spoller">
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
          </ul>
        </div>
        <div class="sect-img__spoller-item">
          <button data-spoller class="btn-clear sect-img__spoller-btn">
            <span>Юридическая информация</span>
            <svg class="sect-img__spoller-icon">
              <use xlink:href="img/icons/icons.svg#icon-plus"></use>
            </svg>
          </button>
          <ul class="list sect-img__list-spoller">
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
          </ul>
        </div>
        <div class="sect-img__spoller-item">
          <button data-spoller class="btn-clear sect-img__spoller-btn">
            <span>Юридическая информация</span>
            <svg class="sect-img__spoller-icon">
              <use xlink:href="img/icons/icons.svg#icon-plus"></use>
            </svg>
          </button>
          <ul class="list sect-img__list-spoller">
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
            <li>
              <span>Наименование</span>
              <span>ИП Нестеренок Галина Васильевна</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <img
      data-da=".requisites__info,1024,2"
      src="@img/requisites.jpg"
      alt="image"
      class="sect-img__img"
    />
  </div>
</section>
