<section class="resume" id="resume">
  <div class="container">
    <div class="resume__head">
      <span class="tag">Оставить заявку</span>
      <h2 class="title title-2 resume__title">
        Если наше предложения про тебя, ждем твой отклик
      </h2>
    </div>
    <form action="#" class="form resume__form">
      <div class="form__wrapper">
        <div class="form__item">
          <input type="text" placeholder="Ваше имя" class="input" />
        </div>
        <div class="form__item">
          <input type="tel" placeholder="Ваш телефон" class="input" />
        </div>
        <div class="form__item">
          <input
            type="text"
            placeholder="Выберите специальность"
            class="input"
          />
          <button class="form__select-btn">
            <svg class="form__select-arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-strong"></use>
            </svg>
          </button>
          <ul class="list form__select-list">
            <li>Педикюрщик</li>
            <li>Маникюрщик</li>
            <li>Педикюрщик</li>
            <li>Маникюрщик</li>
            <li>Педикюрщик</li>
            <li>Маникюрщик</li>
          </ul>
        </div>
        <div class="form__item">
          <input
            type="text"
            placeholder="Напиши о себе или пришли ссылку на портфолио"
            class="input"
          />
        </div>
      </div>
      <p class="form__policy">
        Нажимая на кнопку «Отправить» я даю согласие на
        <a href="#">обработку персональных данных</a>
      </p>
      <button class="btn-main">
        <span>Отправить</span>
        <svg class="btn-main__icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </form>
  </div>
</section>
