<section class="sect-img">
  <div class="sect-img__container tab-container">
    <div class="sect-img__info reviews__info">
      <span class="tag">Отзывы</span>
      <h2 class="title title-3 sect-img__title">
        Спасибо за доверие, которое вы оказываете нам, и мы стараемся не
        разочаровать вас
      </h2>
      <div class="sect-img__buttons">
        <button
          data-tab-btn="p-1"
          data-img="@img/reviews.jpg"
          class="btn-clear sect-img__btn _active"
        >
          <div class="sect-img__btn-gallery">
            <img
              src="@img/reviews-avatar.jpg"
              alt="icon"
              class="sect-img__btn-icon"
            />
          </div>
          <span>Алена</span>
        </button>
        <button
          data-tab-btn="p-2"
          data-img="@img/atmosphere.jpg"
          class="btn-clear sect-img__btn"
        >
          <div class="sect-img__btn-gallery">
            <img
              src="@img/reviews-avatar.jpg"
              alt="icon"
              class="sect-img__btn-icon"
            />
          </div>
          <span>Екатерина</span>
        </button>
        <button
          data-tab-btn="p-3"
          data-img="@img/reviews.jpg"
          class="btn-clear sect-img__btn"
        >
          <div class="sect-img__btn-gallery">
            <img
              src="@img/reviews-avatar.jpg"
              alt="icon"
              class="sect-img__btn-icon"
            />
          </div>
          <span>Анастасия</span>
        </button>
        <button
          data-tab-btn="p-4"
          data-img="@img/atmosphere.jpg"
          class="btn-clear sect-img__btn"
        >
          <div class="sect-img__btn-gallery">
            <img
              src="@img/reviews-avatar.jpg"
              alt="icon"
              class="sect-img__btn-icon"
            />
          </div>
          <span>Виктория</span>
        </button>
      </div>
      <div data-tab="p-1" data-img="@img/reviews.jpg" class="_open">
        <p class="sect-img__tab-content">
          “Осталась очень довольна работой мастеров салона «На Клавишах»,
          сделали просто восхитительный маникюр, за очень короткое время!”
        </p>
      </div>
      <div data-tab="p-2">
        <p class="sect-img__tab-content">
          22222“Осталась очень довольна работой мастеров салона «На Клавишах»,
          сделали просто восхитительный маникюр, за очень короткое время!”
        </p>
      </div>
      <div data-tab="p-3">
        <p class="sect-img__tab-content">
          33333“Осталась очень довольна работой мастеров салона «На Клавишах»,
          сделали просто восхитительный маникюр, за очень короткое время!”
        </p>
      </div>
      <div data-tab="p-4">
        <p class="sect-img__tab-content">
          33333“Осталась очень довольна работой мастеров салона «На Клавишах»,
          сделали просто восхитительный маникюр, за очень короткое время!”
        </p>
      </div>
      <a href="#" class="btn-main sect-img__btn-bottom">
        <span>Все отзывы</span>
        <svg class="btn-main__icon">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </a>
    </div>
    <img
      data-da=".reviews__info,1024,2"
      src="@img/reviews.jpg"
      data-tab-img
      alt="image"
      class="sect-img__img"
    />
  </div>
</section>
