<section class="reviews-catalog tab-container">
  <div class="head-nav">
    <button data-tab-btn="r-1" class="btn-clear head-nav__btn _active">
      Маникюр
    </button>
    <button data-tab-btn="r-2" class="btn-clear head-nav__btn">Педикюр</button>
    <button data-tab-btn="r-3" class="btn-clear head-nav__btn">Визажист</button>
    <button data-tab-btn="r-4" class="btn-clear head-nav__btn">Стилист</button>
    <button data-tab-btn="r-5" class="btn-clear head-nav__btn">
      Наращивание ресниц
    </button>
  </div>
  <div data-tab="r-1" class="parent-more _open">
    <div data-more="6" data-more-step="6" class="reviews-catalog__body">
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
    </div>
    <button data-more-btn class="btn-main reviews-catalog__btn-more">
      Показать еще
    </button>
  </div>
  <div data-tab="r-2" class="parent-more">
    <div data-more="6" data-more-step="6" class="reviews-catalog__body">
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
    </div>
    <button data-more-btn class="btn-main reviews-catalog__btn-more">
      Показать еще
    </button>
  </div>
  <div data-tab="r-3" class="parent-more">
    <div data-more="6" data-more-step="6" class="reviews-catalog__body">
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
    </div>
    <button data-more-btn class="btn-main reviews-catalog__btn-more">
      Показать еще
    </button>
  </div>
  <div data-tab="r-4" class="parent-more">
    <div data-more="6" data-more-step="6" class="reviews-catalog__body">
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
    </div>
    <button data-more-btn class="btn-main reviews-catalog__btn-more">
      Показать еще
    </button>
  </div>
  <div data-tab="r-5" class="parent-more">
    <div data-more="6" data-more-step="6" class="reviews-catalog__body">
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
      <article class="reviews-catalog__item">
        <img
          src="@img/avatar.jpg"
          alt="avatar"
          class="reviews-catalog__item-avatar"
        />
        <h3 class="title title-3 reviews-catalog__item-title">Мария</h3>
        <div class="reviews-catalog__hearts">
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <svg class="reviews-catalog__heart">
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <span class="reviews-catalog__tag">Услуга: Маникюр</span>
        <p class="reviews-catalog__content">
          Мастера профессионалы своего дела, осталась очень довольна маникюром!
          Отдельное спасибо за предоставленную скидку на следующее посещение!
        </p>
      </article>
    </div>
    <button data-more-btn class="btn-main reviews-catalog__btn-more">
      Показать еще
    </button>
  </div>
</section>
