<section class="services">
  <div class="tab-container">
    <div class="services__nav">
      <div data-tab-btn="services-1" class="services__tab-btn _active">
        <div class="services__btn-head">
          <h5 class="title title-2">Ногтевой сервис</h5>
          <span class="services__number number">4</span>
        </div>
        <p class="services__btn-content">Любой сложности</p>
      </div>
      <div data-tab-btn="services-2" class="services__tab-btn">
        <div class="services__btn-head">
          <h5 class="title title-2">Бьюти</h5>
          <span class="services__number number">4</span>
        </div>
        <p class="services__btn-content">Новейшие тренды</p>
      </div>
      <div data-tab-btn="services-3" class="services__tab-btn">
        <div class="services__btn-head">
          <h5 class="title title-2">Все услуги</h5>
          <span class="services__number number">4</span>
        </div>
        <p class="services__btn-content">Современные техники</p>
      </div>
    </div>
    <div data-tab="services-1" class="_open">
      <div class="swiper services__slider">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">Маникюр</h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">
              Маникюр и педикюр в 4 руки
            </h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">Маникюр</h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">
              Маникюр и педикюр в 4 руки
            </h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">Маникюр</h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">
              Маникюр и педикюр в 4 руки
            </h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div data-tab="services-2">
      <div class="swiper services__slider">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов222</span>
            <h5 class="title title-4 services__slide-title">Маникюр</h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">
              Маникюр и педикюр в 4 руки
            </h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">Маникюр</h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">
              Маникюр и педикюр в 4 руки
            </h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">Маникюр</h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">
              Маникюр и педикюр в 4 руки
            </h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div data-tab="services-3">
      <div class="swiper services__slider">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов3333333</span>
            <h5 class="title title-4 services__slide-title">Маникюр</h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">
              Маникюр и педикюр в 4 руки
            </h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">Маникюр</h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">
              Маникюр и педикюр в 4 руки
            </h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">Маникюр</h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
          <a href="#" class="swiper-slide">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
            <span class="services__slide-number">38 видов</span>
            <h5 class="title title-4 services__slide-title">
              Маникюр и педикюр в 4 руки
            </h5>
            <button data-modal-btn="order-call" class="btn-main">
              <span>Записаться</span>
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
