<section class="video-about">
  <div class="container">
    <div class="video-about__head">
      <button class="slider-btn _prev">
        <svg class="slider-btn__icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <div class="video-about__head-middle">
        <span class="tag">Видео о нас</span>
        <h2 class="title title-2 video-about__title">
          Мы создаем красоту в атмосфере уюта
        </h2>
      </div>
      <button class="slider-btn _next">
        <svg class="slider-btn__icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="swiper video-about__slider">
      <div class="swiper-wrapper">
        <a href="https://www.youtube.com/watch?v=6FKtVHHypg0" data-fancybox="about" class="swiper-slide">
          <div class="video-about__play-btn">
            <svg class="video-about__play-icon">
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
          <img
            src="@img/video-about.jpg"
            alt="image"
            class="video-about__preview"
          />
        </a>
        <a href="https://www.youtube.com/watch?v=6FKtVHHypg0" data-fancybox="about" class="swiper-slide">
          <div class="video-about__play-btn">
            <svg class="video-about__play-icon">
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
          <img
            src="@img/video-about.jpg"
            alt="image"
            class="video-about__preview"
          />
        </a>
        <a href="https://www.youtube.com/watch?v=6FKtVHHypg0" data-fancybox="about" class="swiper-slide">
          <div class="video-about__play-btn">
            <svg class="video-about__play-icon">
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
          <img
            src="@img/video-about.jpg"
            alt="image"
            class="video-about__preview"
          />
        </a>
        <a href="https://www.youtube.com/watch?v=6FKtVHHypg0" data-fancybox="about" class="swiper-slide">
          <div class="video-about__play-btn">
            <svg class="video-about__play-icon">
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
          <img
            src="@img/video-about.jpg"
            alt="image"
            class="video-about__preview"
          />
        </a>
      </div>
    </div>
    <button class="btn-main video-about__btn">
      <span>Записаться</span>
      <svg class="btn-main__icon">
        <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
      </svg>
    </button>
  </div>
</section>