<section class="sect-img">
  <div class="sect-img__container _stretch">
    <div class="sect-img__info way__info _no-offset-x _no-bottom _flex-end">
      <span class="tag">Способ нанесения</span>
      <h2 class="title title-3 sect-img__title _no-margin">
        Покрытие выполняется в несколько этапов
      </h2>
      <ul class="list sect-img__list">
        <li class="sect-img__list-item">
          <span class="number">1</span>
          <span>Осмотр мастером рук клиента на наличие проблемных зон</span>
        </li>
        <li class="sect-img__list-item">
          <span class="number">2</span>
          <span>Мастер придает ногтям аккуратную форму</span>
        </li>
        <li class="sect-img__list-item">
          <span class="number">3</span>
          <span
            >Мастер убирает кутикулу, птеригий, проводит обработку ногтевого
            валика, удобным для вас способом</span
          >
        </li>
        <li class="sect-img__list-item">
          <span class="number">4</span>
          <span>Ноготь полируется и на него наносится выбранное клиентом покрытие</span>
        </li>
        <li class="sect-img__list-item">
          <span class="number">5</span>
          <span>Мастер придает ногтям аккуратную форму</span>
        </li>
      </ul>
    </div>
    <img
      data-da=".way__info,1024,2"
      src="@img/way.jpg"
      alt="image"
      class="sect-img__img"
    />
  </div>
</section>
