.btn-clear {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn-main {
  @include flex-center;
  cursor: pointer;
  background-color: transparent;
  gap: 8px;
  padding: 5px 30px;
  min-height: 44px;
  border: 1px solid black;
  border-radius: 2px;

  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  transition: color .2s ease, background-color .2s ease, border-color .2s ease;
  @include hover {
    background-color: var(--main);
    border-color: var(--main);
  }

  &._primary {
    background-color: var(--main);
    border-color: var(--main);
    @include hover {
      background-color: transparent;
    }
  }

  &__icon {
    width: 13px;
    height: 13px;

    &._reverse {
      transform: rotate(180deg);
    }
  }
}
