.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  &__head {
    @include flex-center;
    gap: 60px;
    width: 100%;
    margin-bottom: 50px;
  }
  &__block {
    display: flex;
    flex-direction: column;
  }
  &__block-title {
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  &__img-wrapper {
    @include flex-center;
    overflow: hidden;
    position: relative;
    background: url("@img/add-plus.svg") center / 40px auto no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;

    img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__img-input {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    row-gap: 65px;
    margin-bottom: 32px;
    @include tablet {
      gap: 65px;
    }
  }
  &__item {
    flex: 0 1 calc(50% - 20px);
    &:last-child {
      flex-basis: 100%;
    }
    @include tablet {
      flex-basis: 100%;
    }
  }
  &__policy {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: 0px 0px 60px 0px;
    @include laptop-min {
      margin-bottom: 40px;
    }
  
    a {
      color: var(--vector);
      @include hover {
        text-decoration: underline;
      }
    }
  }
}