.rating {
  display: flex;
  gap: 4px;

  &[data-rating="1"] {
    .rating__label {
      @include first(1) {
        svg {
          color: var(--main);
          stroke: var(--vector);
        }
      }
    }
  }
  &[data-rating="2"] {
    .rating__label {
      @include first(2) {
        svg {
          color: var(--main);
          stroke: var(--vector);
        }
      }
    }
  }
  &[data-rating="3"] {
    .rating__label {
      @include first(3) {
        svg {
          color: var(--main);
          stroke: var(--vector);
        }
      }
    }
  }
  &[data-rating="4"] {
    .rating__label {
      @include first(4) {
        svg {
          color: var(--main);
          stroke: var(--vector);
        }
      }
    }
  }
  &[data-rating="5"] {
    .rating__label {
      @include first(5) {
        svg {
          color: var(--main);
          stroke: var(--vector);
        }
      }
    }
  }
  &__input {
    display: none;
  }
  &__label {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  &__heart {
    width: 100%;
    height: 100%;
    color: transparent;
    stroke: black;
  }
}